---
---

@import "variables.scss";
@import "pna.scss";

* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

html {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;

    body {
        width: 100%;
        height: 100%;

        margin: 0;
        padding: 0;

        position: relative;

        header {
            position: absolute;

            top: 0;
            left: 0;

            width: 100%;

            z-index: 2;
            height: $header-height;
            background: linear-gradient(160deg, rgba(2,0,36,1) 0%, rgba(0,0,121,1) 0%, rgba(28,0,142,1) 16%, rgba(149,0,235,1) 82%, rgba(175,0,255,1) 100%);

            display: flex;
            align-items: center;
            color: white;

            display: flex;
            justify-content: center;

            .title {
                transform: translateY(-2px);
                font-size: 2em;
                font-weight: 400;
                width: 700px;

                display: flex;
                justify-content: flex-start;
            }
        }

        .wrapper {
            padding-top: calc(#{$header-height} + 40px);
            position: absolute;
            top: 0;

            width: 100%;
            height: calc(100%);

            display: flex;
            justify-content: center;

            .background {
                position: absolute;
                top: 0;
                right: 0;

                width: 100%;
                height: 100%;

                background: linear-gradient(to right, #000046, #1cb5e0);;
            }

            .items {
                display: grid;
                grid-template-columns: repeat(2, 270px);
                grid-template-rows: repeat(2, 300px);
                grid-column-gap: 100px;
                grid-row-gap: 100px;

                max-width: 700px;

                justify-content: space-around;

                .item {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    transform-style: preserve-3d;
                    transform: translateZ(0px);
                    padding: 40px;
                    user-select: none;

                    background: linear-gradient(160deg, #f6e6b4 0%, lightblue 100%); 

                    &.research .item-background {
                        background-image: url(https://images.pexels.com/photos/3183172/pexels-photo-3183172.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
                        filter: brightness(20%);
                    }

                    &.education .item-background {
                        background-image: url(https://images.pexels.com/photos/1595385/pexels-photo-1595385.jpeg?cs=srgb&dl=group-of-people-watching-on-laptop-1595385.jpg&fm=jpg);
                        filter: brightness(20%);
                    }

                    &.amateur .item-background {
                        background-image: url(https://images.pexels.com/photos/2186325/pexels-photo-2186325.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
                        filter: brightness(20%);
                    }

                    &.club .item-background {
                        background-image: url(https://images.pexels.com/photos/976863/pexels-photo-976863.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
                        filter: brightness(20%);
                    }

                    .item-background {
                        position: absolute;
                        background-image: url(https://images.unsplash.com/photo-1544745494-3d8dd3fa1564?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ);
                        background-position: center;
                        background-size: cover;

                        transform: translateZ(10px);

                        $item-margin: 8px;

                        left: $item-margin;
                        top: $item-margin;

                        width: calc(100% - #{2 * $item-margin});
                        height: calc(100% - #{2 * $item-margin});
                    }
                    

                    .item-title {
                        font-weight: bold;
                        position: relative;
                        color: white;
                        transform: translateZ(70px);
                        z-index: 2;
                    }

                    .content-listing {
                        transform: translateZ(50px);
                        color: white;
                        list-style-type: none;
                        padding: 0;
                        
                        li {
                            padding: 8px;
                            margin: 2px;
                            cursor: pointer;
                            padding-left: 30px;

                            transition: all 400ms;

                            position: relative;

                            &:hover {
                                background: orange;
                                color: black;
                            }

                            &::before {
                                position: absolute;
                                content: "➜";
                                display: block;
                                left: 5px;
                            }
                        }
                    }
                }
            }
        }

        footer {
            z-index: 4;
            font-weight: bold;
            display: flex;
            color: red;
            background-color: white;
            position: fixed;
            bottom: 0;
            left: 0;
            padding: 10px 20px;
            border-top-right-radius: 1.5em;

            &::before {
                position: absolute;
                background: url(images/warning.svg);
                display: block;
                left: 5px;
                background-size: cover;
                
            }
        }
    }
}