<section id="about" class="section" style="background-color: #008080; padding: 30px auto;">
    <div class="container">
        <h1 class="title is-size-4 has-text-white">About ESRAC</h1>
        <p class="is-size-6 has-text-white">
            Radio is at the core of all the wireless technology we see today. Wireless keyboards, aviation, mobile phones, all the way to sand buggys riding around on the dunes of mars. None of them could exist without radio technology. Even though we all understand the importance of the technology, most of us don't understand much about how it works, let alone how to work with it. ESRAC strives to connect students, experts, and industry to develop the technology and the future engineers.
        </p>
    </div>
  </section>