<section class="section" id="footer">
    <div class="container">
        <img id="logo" src="images/logos/esrac_white-blue.svg" alt="">
    </div>
    <div class="container">
        <div class="columns">

            <div class="column is-4">
                <div class="disclaimer">

                    <h1 class="is-size-4">Disclaimers</h1>
                    <p>&copy; 2020 ESRAC, All rights reserved</p>
                    <a href="https://www.freepik.com/free-photos-vectors/design">
                        <p>Illustration by Freepik</p>
                    </a>
                    <a href="https://docs.google.com/document/d/1uWVCspTg767CWoiHt4ENVL3CuhqZ8ACbMGgm_qncr0s/edit?usp=sharing">
                        <p>Privacy Policy</p>
                    </a>
                </div>
                <div class="social">
                    <h1 class="is-size-4">Social</h1>
                    <p>
                        <a href="https://www.instagram.com/svesrac_">
                            <span class="icon">
                                <i class="fab fa-lg fa-instagram"></i>
                            </span>
                        </a>
                        <a href="https://facebook.com/SvEsrac">
                            <span class="icon is-large">
                                <i class="fab fa-lg fa-facebook"></i>
                            </span>
                        </a>
                        <!-- <a href="https://twitter.com/SvEsrac"><span class="icon is-medium"><i class="fab fa-twitter"></i></span></a> -->
                    </p>
                </div>
            </div>

            <div class="column is-4">
                <h1 class="is-size-4">Contact</h1>
                <p><a href="mailto:bestuur@esrac.nl">bestuur@esrac.nl</a></p>
                <p>
                    <a href="https://www.google.com/maps/place/Fontys+Hogescholen+R1,+Rachelsmolen+1,+Eindhoven">
                    Rachelsmolen 1, <br>
                    5612 MA Eindhoven <br>
                    </a>
                    <a href="mailto:bestuur@esrac.nl?SUBJECT=Appointments">
                    (Appointments only)
                    </a>
                </p>
            </div>

            <div class="column is-4">
                <h1 class="is-size-4">Info</h1>
                <p><a href="https://bunq.me/esrac/0/Payment to ESRAC for: ">IBAN: NL63 BUNQ 2039 4542 92</a></p>
                <p><a href="https://drive.google.com/drive/folders/1VYAE3ZDpYnQ3RjnQ_b15dSF-l9rRhlui?usp=sharing">Public Drive</a></p>
            </div>


        </div>
    </div>
  </section>