<section id="hero" class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">

        <div class="columns is-vcentered">
            <div class="column is-5" style="text-align: center;">
                <img class="image logo" style="height: 200px;display: block; margin: 20px auto;" src="images/logos/esrac_blue-white.svg" alt="">
                <p class="is-size-3 has-text-weight-bold">
                    Eindhoven Student Radio Club
                </p>
                <a href="#signup">
                    <button id="join-button" class="button is-rounded is-large">Become a member</button>
                </a>
            </div>
            <div class="column is-5 is-offset-2">
                <img src="images/illustrations/tower.svg" alt="">
            </div>
        </div>

      </div>
    </div>

    <div class="hero-foot">
        <nav class="tabs">
          <div class="container">
            <a href="#about">
                <span class="icon">
                    <i class="fa fa-arrow-down fa-lg"></i>
                </span>
            </a>
          </div>
        </nav>
      </div>
  </section>