<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/css/global.css">

        <script src="/js/global.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> <!-- Ewwww -->
        <script src="https://unpkg.com/tilt.js@1.1.19/dest/tilt.jquery.js"></script>
    </head>
    <body>
        <header>
            <h1 class="title">Eindhoven Student Radio Amateur Club</h1>
        </header>
        <div class="wrapper">
            <div class="background">
                <div class='particle-network-animation'></div>
            </div>
            <script src="/js/pna.js"></script>
            <div class="items">
                <div class="item tilt research">
                    <div class="item-background"></div>
                    <div class="item-title">Research</div>
                    <ul class="content-listing">
                        <li>5G</li>
                        <li>LoRaWan</li>
                        <li>Connected World</li>
                    </ul>
                </div>
                <div class="item tilt education">
                    <div class="item-background"></div>
                    <div class="item-title">Education</div>
                    <ul class="content-listing">
                        <li>Courses</li>
                        <li>Training</li>
                        <li>Walk-in sessions</li>
                    </ul>
                </div>
                <div class="item tilt amateur">
                    <div class="item-background"></div>
                    <div class="item-title">Amateur Activies</div>
                    <ul class="content-listing">
                        <li>Tour</li>
                        <li>Fact sheet</li>
                        <li>Postcard database</li>
                    </ul>
                </div>
                <div class="item tilt club">
                    <div class="item-background"></div>
                    <div class="item-title">Club</div>
                    <ul class="content-listing">
                        <li>General Assembly</li>
                        <li>67<sup>th</sup> board</li>
                        <li>Association Paper</li>
                    </ul>
                </div>
            </div>
        </div>
        <footer>
            This site is still under construction!

            Please check back soon.
        </footer>
    </body>
</html>